{% extends "base.html" %}

{% block planner_li_class %}active{% endblock %}

{% block content %}

<nav>
    <ul class="pager">
        <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Back</a></li>
        <li>Nov 8 &mdash; Nov 21
        <li class="next"><a href="#">Forward <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
</nav>

<div class="row cal-first-row">
    <div class="col-cal-1">
        Sun
        <div class="cal-day first-day-of-week">
            Nov 8
        </div>
    </div>
    <div class="col-cal-1">
        Mon
        <div class="cal-day">
            9
        </div>
    </div>
    <div class="col-cal-1">
        Tues
        <div class="cal-day">
            10
        </div>
    </div>
    <div class="col-cal-1">
        Wed
        <div class="cal-day">
            11
        </div>
    </div>
    <div class="col-cal-1">
        Thur
        <div class="cal-day">
            12
        </div>
    </div>
    <div class="col-cal-1">
        Fri
        <div class="cal-day">
            13
        </div>
    </div>
    <div class="col-cal-1">
        Sat
        <div class="cal-day">
            14
        </div>
    </div>
</div>

<div class="row hidden-xs hidden-sm">
    <div class="col-cal-1">
        <div class="cal-day first-day-of-week">
            15
        </div>
    </div>
    <div class="col-cal-1">
        <div class="cal-day">
            16
        </div>
    </div>
    <div class="col-cal-1">
        <div class="cal-day">
            17
        </div>
    </div>
    <div class="col-cal-1">
        <div class="cal-day">
            18
        </div>
    </div>
    <div class="col-cal-1">
        <div class="cal-day">
            Dec 19
        </div>
    </div>
    <div class="col-cal-1">
        <div class="cal-day">
            20
        </div>
    </div>
    <div class="col-cal-1">
        <div class="cal-day">
            21
        </div>
    </div>
</div>

{% endblock %}
