/* line 5, ../sass/project.scss */
.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

/* line 10, ../sass/project.scss */
.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/* line 16, ../sass/project.scss */
.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

/* line 22, ../sass/project.scss */
.alert-warning {
  color: black;
  background-color: orange;
  border-color: #d6e9c6;
}

/* line 28, ../sass/project.scss */
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

/* line 35, ../sass/project.scss */
a.tooltip-a:hover,
a.tooltip-a:focus {
  color: #428BCA;
  text-decoration: none;
}

/* line 39, ../sass/project.scss */
a.tooltip-a:active {
  outline: 0px none;
}

@media (min-width: 992px) {
  /* line 51, ../sass/project.scss */
  .col-cal-1 {
    width: 14.28541%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  /* line 60, ../sass/project.scss */
  .cal-day {
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
  }

  /* line 65, ../sass/project.scss */
  .first-day {
    border-left: 1px solid #dddddd;
  }

  /* line 69, ../sass/project.scss */
  .day-heading {
    border-bottom: 1px solid #dddddd;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 991px) {
  /* line 80, ../sass/project.scss */
  .col-cal-1 {
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
  }

  /* line 89, ../sass/project.scss */
  .cal-day {
    border: 1px solid #dddddd;
  }
}
/* line 94, ../sass/project.scss */
span#cal-span {
  padding-top: 6px;
  padding-bottom: 6px;
  border: none;
}

/* line 102, ../sass/project.scss */
a.cal-day:hover,
a.cal-day:active,
a.cal-day:focus {
  text-decoration: none;
  color: white;
  background: #286090;
}

/* line 108, ../sass/project.scss */
a.cal-day > ul.list-group > li.list-group-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 114, ../sass/project.scss */
li.list-group-item#more {
  color: #333;
}

/* line 120, ../sass/project.scss */
.col-cal-1 a,
.col-cal-1 a,
.col-cal-1 a {
  color: inherit;
}

/* line 124, ../sass/project.scss */
.cal-day {
  display: block;
  padding-top: 5px;
  margin-left: -15px;
  padding-left: 15px;
  margin-right: -15px;
  padding-right: 15px;
  height: 205px;
  text-overflow: ellipsis;
}

/* line 135, ../sass/project.scss */
.today {
  background-color: #f0ad4e;
}

/* line 139, ../sass/project.scss */
.cal-day > .list-group {
  margin-top: 5px;
}
