/* line 5, ../sass/project.scss */
.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

/* line 11, ../sass/project.scss */
.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/* line 17, ../sass/project.scss */
.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

/* line 23, ../sass/project.scss */
.alert-warning {
  color: black;
  background-color: orange;
  border-color: #d6e9c6;
}

/* line 29, ../sass/project.scss */
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

/* line 36, ../sass/project.scss */
a.tooltip-a:hover,
a.tooltip-a:focus {
  color: #428BCA;
  text-decoration: none;
}

/* line 40, ../sass/project.scss */
a.tooltip-a:active {
  outline: 0px none;
}

@media (min-width: 992px) {
  /* line 50, ../sass/project.scss */
  .col-cal-1 {
    width: 14.28541%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  /* line 59, ../sass/project.scss */
  .first-day-of-week {
    border-left: 1px solid #dddddd;
  }
}
@media (max-width: 991px) {
  /* line 65, ../sass/project.scss */
  .col-cal-1 {
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 10px;
  }

  /* line 72, ../sass/project.scss */
  .cal-day {
    border-left: 1px solid #dddddd;
  }
}
/* line 77, ../sass/project.scss */
.cal-day {
  padding-top: 5px;
  margin-left: -15px;
  padding-left: 15px;
  margin-right: -15px;
  padding-right: 15px;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  min-height: 200px;
}

/* line 88, ../sass/project.scss */
.cal-first-row .cal-day {
  border-top: 1px solid #dddddd;
}

/* line 92, ../sass/project.scss */
.today {
  background-color: #eeeeee;
}
