/* line 2, ../sass/project.scss */
html, body {
  overflow-x: hidden;
}

/* line 6, ../sass/project.scss */
.bleed {
  margin-left: -9999rem;
  margin-right: -9999rem;
  padding-left: 9999rem;
  padding-right: 9999rem;
}

/* line 13, ../sass/project.scss */
.heading {
  margin-top: -25px;
}

/* line 17, ../sass/project.scss */
#week-summary {
  padding-top: 20px;
  padding-bottom: 15px;
}

/* line 22, ../sass/project.scss */
#date-heading {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* line 27, ../sass/project.scss */
.date {
  width: 250px;
}

/* line 31, ../sass/project.scss */
#planner-date {
  margin-right: 25px;
}

/* line 35, ../sass/project.scss */
button.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  left: -9999px;
}
