{% extends "base.html" %}

{% block recipes_li_class %} active{% endblock %}

{% block content %}

<h2>{{ recipe.name }}</h2>

<h4>
{% if recipe.rating > 0 %}
<a class="tooltip-a" title="" data-toggle="tooltip" href="#" data-original-title="{{ rating_choices.1.1 }}">
    <i class="fa fa-star"></i>
</a>
{% else %}
<a class="tooltip-a" title="" data-toggle="tooltip" href="#" data-original-title="{{ rating_choices.1.1 }}">
    <i class="fa fa-star-o"></i>
</a>
{% endif %}

{% if recipe.rating > 1 %}
<a class="tooltip-a" title="" data-toggle="tooltip" href="#" data-original-title="{{ rating_choices.2.1 }}">
    <i class="fa fa-star"></i>
</a>
{% else %}
<a class="tooltip-a" title="" data-toggle="tooltip" href="#" data-original-title="{{ rating_choices.2.1 }}">
    <i class="fa fa-star-o"></i>
</a>
{% endif %}

{% if recipe.rating > 2 %}
<a class="tooltip-a" title="" data-toggle="tooltip" href="#" data-original-title="{{ rating_choices.3.1 }}">
    <i class="fa fa-star"></i>
</a>
{% else %}
<a class="tooltip-a" title="" data-toggle="tooltip" href="#" data-original-title="{{ rating_choices.3.1 }}">
    <i class="fa fa-star-o"></i>
</a>
{% endif %}

{% if recipe.rating > 3 %}
<a class="tooltip-a" title="" data-toggle="tooltip" href="#" data-original-title="{{ rating_choices.4.1 }}">
    <i class="fa fa-star"></i>
</a>
{% else %}
<a class="tooltip-a" title="" data-toggle="tooltip" href="#" data-original-title="{{ rating_choices.4.1 }}">
    <i class="fa fa-star-o"></i>
</a>
{% endif %}

{% if recipe.rating > 4 %}
<a class="tooltip-a" title="" data-toggle="tooltip" href="#" data-original-title="{{ rating_choices.5.1 }}">
    <i class="fa fa-star"></i>
</a>
{% else %}
<a class="tooltip-a" title="" data-toggle="tooltip" href="#" data-original-title="{{ rating_choices.5.1 }}">
    <i class="fa fa-star-o"></i>
</a>
{% endif %}
</h4>

{% if recipe.url %}
<p><a href="{{ recipe.url }}">{{ recipe.url }}</a></p>
{% endif %}

{% if recipe.description %}
<p>{{ recipe.description }}</p>
{% endif %}

<a href="{% url 'recipe-update' recipe.slug %}" class="btn btn-default" role="button">Edit</a>

<a href="{% url 'recipe-delete' recipe.slug %}" class="btn btn-danger" role="button">Delete</a>

{% endblock %}
