// project specific CSS goes here
html, body {
  overflow-x: hidden;
}

.bleed {
  margin-left: -9999rem;
  margin-right: -9999rem;
  padding-left: 9999rem;
  padding-right: 9999rem;
}

.heading {
  margin-top: -25px;
}

#week-summary {
  padding-top: 20px;
  padding-bottom: 15px;
}

#breakfast-row {
  padding-top: 10px;
}

.meal {
  padding-top: 5px;
}

.vertical-padding {
  padding-top: 15px;
  padding-bottom: 15px;
}

.date {
  width: 250px;
}

#planner-date {
  margin-right: 25px;
}

button.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  left: -9999px;
}
